.facilities{

    background:linear-gradient(135deg,#071739,#0B4F9C);

    color:white;

}

.facility-grid{

    margin-top:60px;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

}

.facility-card{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:25px;

    padding:40px 30px;

    text-align:center;

    transition:.4s;

}

.facility-card:hover{

    transform:translateY(-12px);

    background:#00C2FF;

}

.facility-icon{

    width:90px;

    height:90px;

    margin:auto;

    border-radius:50%;

    background:white;

    color:#0B4F9C;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:40px;

    margin-bottom:25px;

}

.facility-card h3{

    margin-bottom:18px;

    font-size:24px;

}

.facility-card p{

    line-height:1.8;

    color:#f0f0f0;

}

.facilities .section-header span{

    color:#00C2FF;

}

.facilities .section-header h2{

    color:white;

}

@media(max-width:992px){

.facility-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.facility-grid{

grid-template-columns:1fr;

}

}