.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    padding:18px 8%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    z-index:1000;

    transition:.4s;

    background:rgba(7,23,57,.15);

    backdrop-filter:blur(12px);

}

.sticky{

    background:#071739;

    box-shadow:0 5px 25px rgba(0,0,0,.15);

}

.logo{

    display:flex;

    align-items:center;

    gap:12px;

}

.logo img{

    width:60px;

    height:60px;

    object-fit:contain;

}

.logo-text h2{

    color:white;

    font-size:22px;

    font-weight:700;

}

.logo-text span{

    color:#ddd;

    font-size:13px;

}

.nav-links{

    display:flex;

    align-items:center;

    gap:30px;

}

.nav-links li{

    list-style:none;

}

.nav-links a{

    color:white;

    text-decoration:none;

    font-weight:500;

    position:relative;

    transition:.3s;

}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:#00c2ff;

    transition:.3s;

}

.nav-links a:hover{

    color:#00c2ff;

}

.nav-links a:hover::after{

    width:100%;

}

.admission-btn{

    background:#00c2ff;

    color:white;

    border:none;

    padding:12px 28px;

    border-radius:50px;

    cursor:pointer;

    font-weight:600;

    transition:.3s;

}

.admission-btn:hover{

    transform:translateY(-3px);

    background:#0097c5;

}

.menu-icon{

    display:none;

    color:white;

    font-size:28px;

    cursor:pointer;

}

@media(max-width:992px){

.nav-links{

    position:fixed;

    top:90px;

    right:-100%;

    width:280px;

    height:calc(100vh - 90px);

    background:#071739;

    display:flex;

    flex-direction:column;

    justify-content:flex-start;

    padding-top:40px;

    gap:30px;

    transition:.4s;

}

.nav-links.active{

    right:0;

}

.menu-icon{

    display:block;

}

.admission-btn{

    display:none;

}

.logo img{

    width:50px;

}

.logo-text h2{

    font-size:18px;

}

.logo-text span{

    font-size:11px;

}

}